@import "../../variables.scss";

.cart {
  padding: 1.8em 1.5em 1.5em 1.5em;
  background: rgb(233, 233, 233);
  border-radius: 10px;
  margin-bottom: 3rem;
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 4rem 0 0 0;
    li {
      border-top: 1px solid $theme-border-color;
      padding: 7px 0;
      display: flex;
      justify-content: space-between;
    }
  }
}
